.btnsCont{
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.fotoCont{
  display: flex;
  justify-content: center;
}

.mainCont{
  display: grid;
  min-height: 100dvb;
  grid-template-rows: auto 1fr auto;
}

.btn{
  width: 100px;
  height: 50px;

}